header{
    width: 100%;

}

.cabecalho-conteudo{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

i{
     color: $branco-normal;
}

.cabecalho-conteudo-icones{
    display: flex;
    gap: 14px;
}

.cabecalho-conteudo-icones a:hover{
    i{
        animation: translateY 0.8s infinite alternate;
        color: $vermelho-light;
    }
}

@keyframes translateY{
    from{
        transform: translateY(0) scale(1);
    }
    to{
        transform: translateY(-8px) scale(1.1);
    }
}

.cabecalho-conteudo-botao{
    border: 1px solid $branco-normal;
    padding: 8px 24px;
    border-radius: 4px;
    color: $branco-normal;
    background-color: transparent;
    transition: background-color 0.8s;
}

.cabecalho-conteudo-botao:hover{
    border: 1px solid $vermelho-light;
    background-color: $vermelho-light;
}

.cabecalho-conteudo-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

@media screen and (max-width: 768px){

    .cabecalho-conteudo{
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    i{
        margin-top: 16px;
        font-size: 34px;
    }

    .cabecalho-conteudo-logo{
        width: 160px;
        margin-top: 46px;
    }

     .cabecalho-conteudo-botao{
        display: none;
    }
}